# Node modules
node_modules/

# Build output
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# VSCode settings
.vscode/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# Coverage reports
coverage/

# Misc
*.log
*.tmp

# IDE files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
